<!doctype html>

<html>
  <head>
    <title>encode-puml test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../encode-puml.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <encode-puml puml="Bob->Alice : hello" encoded="{{enc}}"></encode-puml>
      </template>
    </test-fixture>

    <test-fixture id="other">
      <template>
        <encode-puml puml="Bob-->Alice : who" encoded="{{enc}}"></encode-puml>
      </template>
    </test-fixture>
    <test-fixture id="onText">
      <template>
        <encode-puml puml="" encoded="{{enc}}"></encode-puml>
      </template>
    </test-fixture>

    <script>
      suite('encode-puml', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'encode-puml');
        });

        test('encoded plantuml is correct', function() {
          var element = fixture('basic');
          assert.equal(element.encoded, 'SyfFqhLppCbCJbMmKiX8pSd91m00');
        });

        test('encoded plantuml is correct', function() {
          var element = fixture('other');
          assert.equal(element.encoded, 'SyfFqjMrSyp9J4vLi58epyW70000');
        });
        test('encode only if plantuml is given', function() {
          var element = fixture('onText');
          assert.equal(element.encoded, '{{enc}}');
        });

      });
    </script>
  </body>
</html>
